<button class="btn-float-tasklist" title="Select task" [matMenuTriggerFor]="menu">
    <mat-icon>add</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <div class="menu-container">
        <div class="menu-section">
            <!-- <span class="menu-header">Records</span> -->
            <button mat-menu-item class="menu-item" (click)="util.navTo('record/lead?')">New Lead (no params)</button>
            <button mat-menu-item class="menu-item" (click)="util.navTo('record/lead?id=')">New Lead (no id)</button>
            <button mat-menu-item class="menu-item" (click)="util.navTo('record/lead?id=  ')">New Lead (blank id)</button>
            <button mat-menu-item class="menu-item" (click)="util.navTo('record/customer?')">New Customer (no params)</button>
            <button mat-menu-item class="menu-item" (click)="util.navTo('record/customer?id=')">New Customer (no id)</button>
            <button mat-menu-item class="menu-item" (click)="util.navTo('record/customer?id=     ')">New Customer (blank id)</button>
            <button mat-menu-item class="menu-item" (click)="util.navTo('record/lead', { id: '98a7sdflkh24r' })">Lead 98a7sdflkh24r</button>
            <button mat-menu-item class="menu-item" (click)="util.navTo('record/customer', { id: 'sadf098uasdij' })">Customer sadf098uasdij</button>
        </div>
    </div>
</mat-menu>
