<div *ngIf="rid">
    Edit {{rtype}} {{rid}}
</div>
<div *ngIf="!rid">
    <mat-horizontal-stepper class="sidenav-form">
        <mat-step>
            <ng-template matStepLabel>General information</ng-template>
    
            <!-- Status -->
            <mat-form-field appearance="outline" class="wfull" *ngIf="rtype === 'lead'">
                <mat-label>Status</mat-label>
                <mat-select required (selectionChange)="logRecord()">
                    <mat-option value="1">Unqualified</mat-option>
                    <mat-option value="2">In Discussion</mat-option>
                    <mat-option value="3">Proposal</mat-option>
                    <mat-option value="4">In Negotiation</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Status -->
            <mat-form-field appearance="outline" class="wfull" *ngIf="rtype === 'customer'">
                <mat-label>Status</mat-label>
                <mat-select required (selectionChange)="logRecord()">
                    <mat-option value="1">Won</mat-option>
                    <mat-option value="2">Lost</mat-option>
                    <mat-option value="3">For Renewal</mat-option>
                </mat-select>
            </mat-form-field>
    
            <!-- Company | Individual -->
            <mat-button-toggle-group #iscompany="matButtonToggleGroup" (change)="logRecord()" required>
                <mat-button-toggle value="true">Company</mat-button-toggle>
                <mat-button-toggle value="false">Individual</mat-button-toggle>
            </mat-button-toggle-group>
    
            <!-- Company Name -->
            <mat-form-field appearance="outline" class="wfull">
                <mat-label>Name</mat-label>
                <input matInput required (change)="logRecord()">
            </mat-form-field><br>
    
            <!-- Email -->
            <mat-form-field appearance="outline" class="fld-email">
                <mat-label>Email</mat-label>
                <input matInput required (change)="logRecord()">
            </mat-form-field><br>
    
            <!-- Phone -->
            <div class="col-2">
                <mat-form-field appearance="outline" class="fld-phone">
                    <mat-label>Phone Number</mat-label>
                    <input matInput required (change)="logRecord()">
                </mat-form-field>
                <mat-form-field appearance="outline" class="fld-phone">
                    <mat-label>Alt. Phone</mat-label>
                    <input matInput (change)="logRecord()">
                </mat-form-field>
            </div>
    
            <div class="sidenav-form-actions">
                <button mat-raised-button matStepperNext color="primary">Next</button>
            </div>
    
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Address</ng-template>

            <!-- Country -->
            <mat-form-field appearance="outline" class="wfull">
                <mat-label>Country</mat-label>
                <mat-select required (selectionChange)="logAddress()">
                    <mat-option value="PHI">Philippines</mat-option>
                    <mat-option value="USA">United States of America</mat-option>
                </mat-select>
            </mat-form-field><br>

            <!-- Address 1 -->
            <mat-form-field appearance="outline" class="wfull">
                <mat-label>Address line 1</mat-label>
                <input matInput required (change)="logAddress()">
            </mat-form-field><br>

            <!-- Address 2 -->
            <mat-form-field appearance="outline" class="wfull">
                <mat-label>Address line 2</mat-label>
                <input matInput (change)="logAddress()">
            </mat-form-field><br>

            <!-- City -->
            <mat-form-field appearance="outline" class="fld-default">
                <mat-label>City</mat-label>
                <input matInput required (change)="logAddress()">
            </mat-form-field><br>

            <div class="col-2">
                <!-- State -->
                <mat-form-field appearance="outline" class="fld-state">
                    <mat-label>State</mat-label>
                    <mat-select required (selectionChange)="logAddress()">
                        <mat-option value="AL">Alabama</mat-option>
                        <mat-option value="AK">Alaska</mat-option>
                        <mat-option value="AR">Arkansas</mat-option>
                        <mat-option value="NC">North Carolina</mat-option>
                        <mat-option value="SC">South Carolina</mat-option>
                        <mat-option value="WV">West Virginia</mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Zip -->
                <mat-form-field appearance="outline" class="fld-zip">
                    <mat-label>Zip</mat-label>
                    <input matInput required (change)="logAddress()">
                </mat-form-field>
            </div>

            <div class="sidenav-form-actions">
                <button mat-raised-button matStepperPrevious>Previous</button>
                <button mat-raised-button matStepperNext color="primary" (click)="reviewRec()">Create {{rtype | titlecase}}</button>
            </div>
        
        </mat-step>
    </mat-horizontal-stepper>
</div>
