<div *ngIf="rid">
    <mat-tab-group>

        <!-- General Info -->
        <mat-tab label="General Info">
            <app-customer-edit></app-customer-edit>
        </mat-tab>

        <!-- Transactions -->
        <mat-tab label="Transactions"></mat-tab>

        <!-- Messages -->
        <mat-tab label="Messages"></mat-tab>

        <!-- Activity -->
        <mat-tab label="Activity"></mat-tab>

    </mat-tab-group>
</div>
<div *ngIf="rid == ''">
    <app-customer-new></app-customer-new>
</div>
